# gitignore to ignore data

# Ignore raw data
raw-data/asurv_1950_to_2011
raw-data/WHCR_locations_gps.csv

# Ignore data that has been created
asurv/*
gps/*

# Always ignore pycache
__pycache__

# Ignore any files that have testing in them
tester.ipynb
