# gitignore to ignore data

experiment-runner
data_dir
__pycache__

# Ignore raw data
raw-data/asurv_1950_to_2011
raw-data/WHCR_locations_gps.csv

# Ignore data that has been created
asurv/*
gps/*

# Ignore any files that have testing in them
tester.ipynb
save_files_torch_exps
